{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
            }
        .otree-body {
            max-width: 1000px
        }
        .page-header {
            padding-top: 2px
        }
    </style>
{% endblock%}

{% block content %}

    <div class="container-fluid mb-3">
        <div class="card border-success">
            <h5 class="card-header bg-success text-white">为保证您已经了解游戏程序，请您回答以下问题：</h5>
            <div class="card-body">
                <div class="card">
                    <h5 class="card-header text-dark">1.在某轮游戏中，<span class="badge badge-success">玩家A</span> 和 <span class="badge badge-success">玩家B</span> 均不给 <span class="badge badge-danger">裁判C</span> 送代币:</h5>
                    <img class="card-img-top mb-3" src="{% static "briberyGame/Check_1.png" %}" alt="check_1">
                    <div class="container-fluid mb-3">
                        <div class="card-deck">
                    <div class="card">
                        <div class="card-body card-text">玩家A获胜拿到50个代币的概率为____% <hr/> {% formfield player.check_1 label="" %}</div>
                    </div>
                    <div class="card">
                        <div class="card-body card-text">玩家B获胜拿到50个代币的概率为____% <hr/> {% formfield player.check_2 label="" %}</div>
                    </div>
                    <div class="card">
                        <div class="card-body card-text">裁判C在本轮的收益为多少个代币____? <hr/> {% formfield player.check_3 label="" %}</div>
                    </div>
                    <div class="card">
                        <div class="card-body card-text">裁判C在本轮被惩罚的概率为____% <hr/> {% formfield player.check_4 label="" %}</div>
                    </div>
                </div>
                    </div>

                </div>
            </div>
            <div class="container-fluid">
                <button class="otree-btn-next btn btn-success btn-lg btn-block mb-3">下一页</button>
            </div>
        </div>
    </div>


{% endblock %}
