{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
            }
        .otree-body {
            max-width: 1000px
        }
        .page-header {
            padding-top: 2px
        }
    </style>
{% endblock%}

{% block content %}

    <div class="container-fluid mb-3">
        <div class="card border-success">
            <h5 class="card-header bg-success text-white">第一部分：决策游戏规则学习</h5>
            <img class="card-img-top" src="{% static "briberyGame/Banner_2.png" %}" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title">欢迎前来参加我们的游戏。游戏规则对于完成游戏至关重要，请您务必结合图片仔细阅读！</h6>

                <div class="alert alert-danger" role="alert">
                    <h6 class="alert-heading">第三部分</h6>
                    <img class="card-img-top" src="{% static "briberyGame/Intro_3.png" %}" alt="intro_3">
                    <ul class="list-group list-group-flush text-justify">
                        <li class="list-group-item list-group-item-action">(1)每轮游戏结束之后，系统都会对机关进行检查：如果裁判C使用了机关，将有5%的概率被检查出来。
                        </li>
                        <li class="list-group-item list-group-item-action">(2)一旦发现启动了机关，该轮游戏结果作废，裁判C和送代币玩家的游戏资格将被取消，游戏自动终止。
                        </li>
                        <li class="list-group-item list-group-item-action"><span class="text-danger">(3)同时，送代币玩家本轮所送出的代币不再退还，在本轮游戏结束之后的总资产将转化为实验酬劳；</span>
                        </li>
                        <li class="list-group-item list-group-item-action"><span class="text-danger">(4)裁判C之前轮次所有收入归零，且从本金中扣除该轮所得金额的3倍作为罚金，剩余资产将转化为实验酬劳。</span>
                        </li>
                        <li class="list-group-item list-group-item-action">(5)如果未被发现，本轮游戏结果有效，游戏继续进行。
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid mb-2">
                <button id="submitButton" type="button" class="otree-btn-next btn btn-secondary btn-lg btn-block mb-2">我已充分理解本页游戏规则</button>
            </div>
        </div>
    </div>

    <script>
        function changeButton(){
            document.getElementById("submitButton").className = "otree-btn-next btn btn-primary btn-lg btn-block mb-2";
            document.getElementById("submitButton").type = "";
        };
        var changeTime = setTimeout(function(){changeButton();},5000);
        window.onload = function(){
            changeTime;
        };
    </script>


{% endblock %}
