{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
            }
        .otree-body {
            max-width: 1000px
        }
        .page-header {
            padding-top: 2px
        }
    </style>
{% endblock%}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-3">
        <div class="card card-light mb-3">
            <h5 class="card-header text-center bg-success text-white">
                第   {{ current_round }}   轮 / 共 10 轮
            </h5>

            <div class="card-body">
                <br/>
                <h5 class="card-text text-success">请等待，系统正在为您匹配玩家</h5>
                <br/>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
                    </div>
            </div>
            <br/>
        </div>
    </div>


    <script>
        function setProcess(){
            var processBar = document.getElementById("progressBar");
            processBar.style.width = parseInt(processBar.style.width) + 1 + "%";
            if(processBar.style.width == "100%"){
                window.clearInterval(barTimer);
            }
        }
        var barTimer = setInterval(function(){setProcess();},20);
        window.onload = function(){
            barTimer;
        }
    </script>

{% endblock %}
